@media all and (min-width: 480px) {
    .Signup {
        padding: 60px 0;
    }

    .Signup form {
        margin: 0 auto;
        max-width: 320px;
    }

    .Signup.error-message {
        display: flex;
        justify-content: center;
        font-size: 14px;
        padding-bottom: 10px;
        color: #C88;
    }
}

.Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
}

.text-button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
